%h1 Карточка сотрудника
- if current_employee.admin?
  %div.pull-right
    = link_to 'Редактировать', edit_employee_path(@employee), class: 'fui-plus'

%div.employee-profile
  %h4= @employee.name
  %h5= @employee.phone
  %h5= @employee.email

- if @shifts.present?
  = render :partial => 'employees/shift'
