- @sites = Site.all.collect {|r| [ "#{r.name}", r.id ] }
= form_for @row do |f|
  - if @row.errors.any?
    #error_explanation
      %h2= "#{pluralize(@row.errors.count, "error")} prohibited this row from being saved:"
      %ul
        - @row.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :row_type
    = f.select :row_type, ShiftRow::TYPES[0..-2]
  .field
    = f.label :site_id
    = f.select :site_id, @sites, { include_blank: true }
  .actions
    = f.submit 'Save'
