%h1 Ячейки

%table
  %tr
    %th Название
    %th Тип ячейки
    %th Точка
    %th
    %th
    %th

  - @rows.each do |row|
    %tr
      - if row.row_type != 6
        %td= row.title
        %td= (ShiftRow::TYPES.detect { |n, d| d == row.row_type })[0] #// TODO: Refactor that shiiit
        %td= row.site.name if row.site
        %td= link_to 'Show', row
        %td= link_to 'Edit', edit_shift_row_path(row)
        %td= link_to 'Destroy', row, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Row', new_shift_row_path
