%div.primary.clearfix
  %h2 Основные значения
  = form_for @shift do |f|
    - if @shift.errors.any?
      #error_explanation
        %h2= "#{pluralize(@row.errors.count, "error")} prohibited this row from being saved:"
        %ul
          - @shift.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :percent
      = f.number_field :percent
    .field
      = f.label :till
      = f.number_field :till
    .field
      = f.label "Баланс"
      = f.number_field :balance
    .field
      = f.label :comment
      = f.text_field :comment
    .actions.span4
      = f.submit 'Save', class: 'btn btn-large btn-block btn-success clearfix'
%div.hoar.clearfix
  %h2 Старые значения
  = form_for @hoar, :url => url_for(:controller => 'histories', :action => 'edit') do |f|
    - if @shift.errors.any?
      #error_explanation
        %h2= "#{pluralize(@row.errors.count, "error")} prohibited this row from being saved:"
        %ul
          - @shift.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :till
      = f.number_field :till
    .field
      = f.label "Баланс"
      = f.number_field :balance
    .actions.span4
      = f.submit 'Save', class: 'btn btn-large btn-block btn-success clearfix'

%div.assigns.clearfix
  %h2 Дополнительные ячейки
  = form_for @shift, :url => url_for(:controller => 'histories', :action => 'edit') do |f|
    = f.fields_for :shift_row_assigns, :wrapper => false do |shift_row|
      .field.row_select
        = shift_row.label :shift_row_id 
        = shift_row.select :shift_row_id, options_for_select(@rows)
      .field
        = shift_row.label "Значение"
        = shift_row.number_field :def
      .actions.span4
    = f.submit 'Save', class: 'btn btn-large btn-block btn-success clearfix'

