%section.header.history-main
  %h1 История
  .control-content
    %span.history Наведите на дополнительный блок, чтобы получить информаци о его типе.
  %ul.pager.history-option
    %li
      = link_to 'Месяц', histories_path(sort: 'by_month')
    %li
      = link_to 'Неделя', histories_path(sort: 'by_week')
    / /%li
    / /  = link_to 'Дата', histories_path(sort: 'by_month')
  / /pager
  %ul
    %span Точки
  - @sites.each do |site|
    %li
      = link_to site.name, histories_path(sort: 'by_site', site: site.id)
      = link_to 'All', histories_path
%table.table.histories
  %tr
    %th Точка
    %th Сотрудник
    %th Баланс
    %th Касса
    %th Сдано / Принято
    // Count of headers
    - count = @shifts.joins("LEFT OUTER JOIN shift_row_assigns on shifts.id=shift_row_assigns.shift_id").group("shifts.id").count("shift_row_assigns.id").max[1]
    - count.times do |th|
      %th
    %th
    %th 
  - @shifts.each do |shift|
    %tr.first
      %td= shift.site.name if shift.site.present?
      %td= shift.employee.first_name if shift.employee.present?
      %td= shift.balance 
      %td= shift.till
      %td= shift.accept_at
      - diffs = []
      - shift.shift_row_assigns.each do |as|
        - if as.shift_row.present? && as.shift_row.row_type == 6
          %td#popoverData
            %a{"data-content" => "#{as.shift_row.title}", "data-original-title" => "Колонка", "data-placement" => "bottom", "data-trigger" => "hover", :href => "#", :rel => "popover"}= as.def
            - diffs << as.def 
        - else
          %td
      %td
      %td
    %tr
      %td
      %td
      %td= @hoar.select {|n| n.shift_id == shift.id }[0].balance if @hoar.select {|n| n.shift_id == shift.id }[0].present?
      %td= @hoar.select {|n| n.shift_id == shift.id }[0].till  if @hoar.select {|n| n.shift_id == shift.id }[0].present?
      %td= shift.cancel_at
      - shift.shift_row_assigns.each do |as|
        - if as.shift_row.present? && !(as.shift_row.row_type == 6)
          %td#popoverData
            %a{"data-content" => "#{as.shift_row.title}", "data-original-title" => "Колонка", "data-placement" => "bottom", "data-trigger" => "hover", :href => "#", :rel => "popover"}= as.def
            - diffs << as.def if as.shift_row.row_type == 6 || as.shift_row.row_type == 1
        / /- else
        / /  %td
      %td
      %td 
    %tr.last
      %td 
        %b Итого
      %td
      %td
        - if shift.balance.present? && @hoar.select {|n| n.shift_id == shift.id }[0].present? 
          = @hoar.select {|n| n.shift_id == shift.id }[0].balance - shift.balance 
      %td
  
      %td
      - shift.shift_row_assigns.each do |as|
        - if as.shift_row.present? && as.shift_row.row_type == 6 #|| as.shift_row.row_type == 1
          %td= diffs.inject(:-).to_i
      %td
      %td
      %td
      %td
      %td
      %td
      %td 
        = link_to '', edit_history_path(shift), class: 'fui-new'
        = link_to '', shift, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'fui-cross'
%br


:javascript
  $('#popoverData a').popover();
  $('#popoverOption').popover({ trigger: "hover" });
