%h1= "Точка #{@site.name}"
%div
  %ul.unstyled
    %li= "Статус #{aval?(@status)} к приему"
    %li
      = link_to "Смена", new_shift_path(site: @site.id)

%table.table
  %tr
    %th Точка
    %th Сотрудник
    %th Баланс
    %th Расход
    / / %th
  - if @shifts
    %tr
      %td= @shifts.site_id
      %td= @shifts.employee_id
      %td= @shifts.balance
      %td= @shifts.expenses
      / / %td= link_to 'Destroy', @shifts, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br