%h1= "Точка #{@site.name}"
%div
  %ul.unstyled
    %li= "Статус #{aval?(@status)} к приему"
    - if current_employee.present?
      %li
        = link_to "Смена", new_shift_path(site: @site.id)
    - if current_employee.present?
      %li
        = link_to "Выставить баланс", balance_shifts_path(site: @site.id)
    - if @shifts && @status && (current_employee.merchant.updated_at < @shifts.accept_at)
      %li
        = link_to "Выставить депозит", deposit_shifts_path(site: @site.id)
- if @shifts
  %table.table
    %tr
      %th Точка
      %th Сотрудник
      %th Баланс
      %th Касса
      - @shifts.shift_row_assigns.each do |as|
        %th
      %th Комментарий
      %th Принято
      %th= "Закрыто" unless @shifts.created_at == @shifts.updated_at
      / / %th
    - if @shifts
      %tr
        %td= @shifts.site.name
        %td= @shifts.employee.name if @shifts.employee.present?
        - if @shifts.hoar_row.present?
          %td= @shifts.hoar_row.balance
          %td= @shifts.hoar_row.till
          - @shifts.shift_row_assigns.each do |as|
            - if as.shift_row.present? && as.shift_row.row_type == 6
              %td= as.def
            - else
              %td
          %td
          %td= @shifts.accept_at
          %td
      %tr
        %td= @shifts.site.name
        %td= @shifts.employee.name if @shifts.employee.present?
        %td= @shifts.balance
        %td= @shifts.till
        - @shifts.shift_row_assigns.each do |as|
          - if as.shift_row.present? && !(as.shift_row.row_type == 6)
            %td= as.def
        %td= @shifts.comment
        


        %td
        %td= @shifts.cancel_at 
        / / %td= link_to 'Destroy', @shifts, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
= Shift.current_site
