= form_for @shift do |f|
  - if @shift.errors.any?
    #error_explanation
      %h2= "#{pluralize(@row.errors.count, "error")} prohibited this row from being saved:"
      %ul
        - @shift.errors.full_messages.each do |msg|
          %li= msg
  .field  
    = f.hidden_field :site_id, value: params[:site]
  .field
    = f.label :employee_id
    = f.number_field :employee_id
  .field
    = f.label :balance
    = f.number_field :balance
  .field
    = f.label :expenses
    = f.number_field :expenses
  .actions
    = f.submit 'Save'
