= nested_form_for @shift do |f|
  - if @shift.errors.any?
    #error_explanation
      %h2= "#{pluralize(@row.errors.count, "error")} prohibited this row from being saved:"
      %ul
        - @shift.errors.full_messages.each do |msg|
          %li= msg
  .field  
    = f.hidden_field :site_id, value: params[:site]
  .field
    = f.label :employee_id
    = f.number_field :employee_id
  .field
    = f.label :percent
    = f.number_field :percent
  .field
    = f.label :comment
    = f.text_field :comment
    = f.fields_for :shift_row_assigns, class: 'default_fields' do |default_row|
      .field
        = "Обязательная ячейка"
        %strong "Incasation"
        = default_row.hidden_field :shift_row_id, value: 6
      .field
        = default_row.label "Значение"
        = default_row.number_field :def

    = f.fields_for :shift_row_assigns do |shift_row|
      .field.row_select
        = shift_row.label :shift_row_id 
        = shift_row.select :shift_row_id, options_for_select([['Инкассация', 4], ['Хоз расходы', 5], ['Доп. расходы', 6]])
        =# select_tag(:shift_row_id, options_for_select(@rows.collect {|r| [ "#{r.title} : #{r.rowtype}", r.id ] }))
      .field
        = shift_row.label "Значение"
        = shift_row.number_field :def
      = shift_row.link_to_remove "Удалить поле"
    = f.link_to_add "Добавить поле", :shift_row_assigns
  .actions.span4
    = f.submit 'Save', class: 'btn btn-large btn-block btn-success clearfix'