%section.header
  %h1 Точки
  .control-content
    = link_to '', new_site_path, class: 'fui-plus'
%table.table
  %tr
    %th Название
    %th Адрес
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.name
      %td= site.direction
      %td= link_to 'Редактировать', edit_site_path(site)
      %td= link_to 'Удалить', site, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


