!!!
%html
  %head
    %title Billsproject
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,900&subset=latin,cyrillic-ext,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    / /= notice
    / / %p= alert
    %header.container
      - if current_employee.present?
        .navbar.navbar-inverse.span4
          .navbar-inner
            .container
              #nav-collapse-01.nav-collapse.collapse
                %ul.nav
                  %li.active
                    = link_to 'Точки', sites_path
                  - if current_employee.admin?
                    %li
                      = link_to 'Сотрудники', employees_path
                    %li
                      = link_to 'История', histories_path
                    %li
                      = link_to 'Rows', shift_rows_path
              / /.nav
        .user_nav
        - if employee_signed_in?
          %ul.user_sets.unstyled
            = succeed "." do
              %li
                = link_to "#{current_employee.name}", personal_areas_path
              %li
                = link_to "", destroy_employee_session_path, method: :delete, class: 'fui-exit'
        - else
          .span1
            = link_to "Вход", new_employee_session_path, class: 'btn btn-large btn-block btn-primary'
    %main.container
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          %h4 Уведомление
          = flash[:notice]
      = yield

